html {
  font-size: 100px;
}

.yale-header {
  font-size: 16px;
  height: .95rem;
  padding: .1rem .17rem .15rem;
  margin: 0;
  color: #ffffff;
  background: #706CAA;
  text-align: center;
}
.yale-content {
  font-size: 14px;
}
